body{
    background-color: #595d5e;
    background-image: url('../src/train.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.navbar{
    background-color: black;
    border-radius: 24px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.forms input{
   margin : 4px;
   padding: 3px 3px;
}
